@media only screen and (min-width: 320px) and (max-width: 470px) {
    .log_form{
        width: 85%;
    }
    /*index_pages resp*/
    .grid-container {
        display: grid;
        grid-template-columns: inherit;
    }
    .grid2 {
        display: grid;
        grid-template-columns: auto auto;
    }
    .box_lf {
        margin-left: 9px !important;
    }
    .mt-no {
        margin-bottom: 58px;
    }
    .ch_width{
        width: 300px;
    }
    .char_height {
        margin-top: 95px;
        width: 100%;
        padding-left: 11px;
        padding-right: 14px;
    }
    .graph {
        font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
        padding: 1% 0 1% 0;
        height: 436px;
        /* width: 437px; */
        width: 100px;
    }
    .disp_no {
        display: none;
    }
    /*index*/

    /*alternative_pages resp*/
    .grid_alt {
        display: grid;
        /* grid-template-columns: auto auto auto auto; */
        grid-gap: 10px;
    }
    .box_4 {
        width: 271px !important;
    }
    .it2 {
        margin-top: 33px;
    }
    .grid_2 {
        display: grid;
        grid-template-columns: inherit;
        grid-gap: 10px;
    }
    .m-t-0 {
        margin-top: 0px;
    }
    .box_5 {
        width: 100%;
    }
    /*alternative*/
    /*stock_pages resp*/
    .grid_3 {
        display: contents;
        grid-template-columns: auto auto auto auto;
        grid-gap: 10px;
        padding: 10px;
    }
    .it1_st {
        width: 100% !important;
    }
    .gird4_st {
        display: contents;
    }
    .invent {
        width: 251px !important;
    }
    .font_size_st {
        font-size: 7px !important;
    }
    .ml-110 {
        margin-left: 110px !important;
    }
    .pric_st {
        padding-left: 16px;
        padding-right: 20px;
    }
    /*stock*/
    /*auth_pages resp*/
    .gird5_st {
        display: contents;
    }
    .width_auth {
        /*height: 707px;
        overflow: auto;
        margin-left: 11px;*/
    }
    .cust_cent{
        margin: auto;
        width: 100% !important;
    }
    /*auth*/
    /*pricing_pages resp*/
    .width_pric {
        width: 100% !important;
        margin-top: 11px;
    }
    body.active .wrapper .section .price {
        width: 100%;
        margin: auto;
    }
     .pr_wid{
       margin-left: 60px;
    }
    .pr_img{
        width: 140px;
    }
    /*pricing*/
    /*help_pages resp*/
    .gird_he {
        display: contents !important;
    }
    .cat_resp {
        margin: auto;
        padding: 35px;
        font-size: 22px;
        color: #d1cccc;
        width: 100%;
    }
    .search {
        width: 100%;
    }
    .help_search {
        background: none;
        width: 100%;
        outline: none;
        border: none;
        padding-left: 16px;
        font-size: 12px;
        letter-spacing: 1px;
    }
    /*help*/
    /*card resp*/
    .card_resp {
        display: contents !important;
    }
    .view_img_resp {
        padding: 0px;
    }
    .img_width {
        width: 290px;
    }
    .card_wt {
        width: 100% !important;
    }
    /*card*/
    /*userlist_pages resp*/
    .gird6_ul {
        display: table;
        background-color: #ffffff !important;
        width: 100% !important;
        padding: 19px;
        border: 1px solid #cccccc;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }
    .wp_2 {
        width: 215px !important;
        margin-top: 9px;
    }
    .pg_font2 {
        display: none;
    }
    .box_h {
        margin-top: 14px;
    }
    .stock_items {
        width: 100%;
        text-align: left !important;
        font-size: 17px;
        font-weight: bold;
        letter-spacing: 1px;
    }
    .title_resp {
        right: 0;
        margin-top: -36px;
        letter-spacing: 1px;
        position: fixed;
    }
    /*userlist*/
    /*forms_pages resp*/
    .mt_resp {
        margin-top: 22px !important;
    }
    .bil_cst {
        width: 48% !important;
        margin: 0px;
    }
    .sele_box {
        width: 119px;
        height: 30px;
        padding: 0px;
        font-size: 13px;
        margin-top: 7px;
    }
    /*profile*/
    .pf_resp {
        display: contents !important;
    }
    .top_pf {
        margin: auto;
        width: 58%;
    }
    .top_pf2 {
        width: 59%;
        margin: auto !important;
     /*   margin-top: 88px;*/
    }
    .pro_he {
  margin-top: -28px;
}
    .top_pf3 {
        width: 59%;
        margin: auto;
        margin-top: 107px;
    }
    .top_h {
        height: 101px;
    }
    .imr_resp {
        margin-top: -21px;
        border: 1px solid #ddd;
        margin-right: 10px;
    }
    .top_mr {
        margin: auto;
    }
    /*forms*/
    .mt_cust {
        margin-top: 45px;
    }
     .title_no{
        display: none;
    }
}
@media only screen and (max-width: 520px) {
    .title_no{
        display: none;
    }
    /*index*/
    .wrapper .test {
        display: none;
    }
    .grid-container {
        display: grid;
        grid-template-columns: inherit;
    }
    .mt-no {
        margin-bottom: 58px;
    }
    .in_mt {
        margin-top: 122px;
    }
    .box_lf {
        margin-left: 44px;
    }
    /*index*/
    /*alter*/
    .box_4 {
        width: 377px;
    }
    .alt_3 {
        display: contents;
        width: 100%;
    }
    .box_5 {
        width: 100%;
        margin-bottom: 11px;
    }
    .alt_t {
        margin-top: 1px;
    }
    /*alter*/
    /*stock_pages resp*/
    .grid_3 {
        display: contents;
        grid-template-columns: auto auto auto auto;
        grid-gap: 10px;
        padding: 10px;
    }
    .it1_st {
        width: 100% !important;
    }
    .gird4_st {
        display: contents;
    }
    .invent {
        width: 251px !important;
    }
    .font_size_st {
        font-size: 7px !important;
    }
    .ml-110 {
        margin-left: 110px !important;
    }
    .pric_st {
        padding-left: 16px;
        padding-right: 20px;
    }
    /*stock*/
    /*cust_view*/
    .cust_cent{
        margin: auto;
        width: 65%;
    }
    /*cust_view*/
    
    /*pricing*/
    .pr_wid{
        width: 62%;
    }
    /*pricing*/
     /*userlist_pages resp*/
    .gird6_ul {
        display: table;
        background-color: #ffffff !important;
        width: 100% !important;
        padding: 19px;
        border: 1px solid #cccccc;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }
    .wp_2 {
        width: 215px !important;
        margin-top: 9px;
    }
    .pg_font2 {
        display: none;
    }
    .box_h {
        margin-top: 14px;
    }
    .stock_items {
        width: 100%;
        text-align: left !important;
        font-size: 17px;
        font-weight: bold;
        letter-spacing: 1px;
    }
    .title_resp {
       right: 0;
        margin-top: -36px;
        letter-spacing: 1px;
        position: fixed;
    }
    .urlist{
        margin-top: -56px;
    }
    /*userlist*/
     /*forms_pages resp*/
    .mt_resp {
        margin-top: 22px !important;
    }
    .bil_cst {
        width: 48% !important;
        margin: 0px;
    }
    .sele_box {
        width: 119px;
        height: 30px;
        padding: 0px;
        font-size: 13px;
        margin-top: 7px;
    }
    .gr_no{
        display: contents !important;
        margin: auto;
        width: 50%;
    }
    .gird_he2{
        display: contents;
    }
    /*forms*/

     /*profile*/
    .pf_resp {
        display: contents !important;
    }
    .top_pf {
        margin: auto;
       /* width: 43%;*/
    }
    .top_pf2 {
        width: 59%;
        margin: auto;
        margin-top: 88px;
    }
    .top_pf3 {
        width: 59%;
        margin: auto;
        margin-top: 107px;
    }
    .top_h {
        height: 101px;
    }
    .imr_resp {
        margin-top: -21px;
        border: 1px solid #ddd;
        margin-right: 10px;
    }
    .top_mr {
        margin: auto;
    }
    .prf_dispno{
        display: none;
    }
    .grid-container7 > div {
      background-color: #f000;
    }
    .top_mr_auto{
        margin: auto;
        margin-top: -55px;
    }

}
@media only screen and (max-width: 768px) {
     .title_no{
        display: none;
    }
    .log_form{
        width: 60% !important;
    }
    .wrapper .test {
        display: none;
    }
    .grid-container {
        display: grid;
        grid-template-columns: inherit;
    }
    .ind_mt {
        margin-top: 118px;
    }
    .mt-no {
        margin-bottom: 58px;
    }
    .in_cen {
        margin: auto;
        width: 65%;
    }
  
    /*alter*/
    .m-t-22 {
    margin-top: 0px;
    }
    /*alter*/
    /*stock_pages resp*/
    .stock_ml{
       margin: 0px !important;
    }
    .grid_3 {
        display: contents;
        grid-template-columns: auto auto auto auto;
        grid-gap: 10px;
        padding: 10px;
    }
    .it1_st {
        width: 100% !important;
    }
    .gird4_st {
        display: contents;
    }
    .invent {
        width: 251px !important;
    }
    .font_size_st {
        font-size: 7px !important;
    }
    .ml-110 {
        margin-left: 110px !important;
    }
    .pric_st {
        padding-left: 16px;
        padding-right: 20px;
    }
    /*stock*/
    /*custom_view*/
    .gird5_st {
        display: contents;
    }
     .cust_cent{
        margin: auto;
        width: 57%;
    }
    /*custom_view*/
    /*card resp*/
    .card_resp {
        display: contents !important;
    }
    .view_img_resp {
        padding: 0px;
    }
    .img_width {
        width: 290px;
    }
    .card_wt {
        width: 100% !important;
    }
    /*card*/
      /*userlist_pages resp*/
    .gird6_ul {
        display: table;
        background-color: #ffffff !important;
        width: 100% !important;
        padding: 19px;
        border: 1px solid #cccccc;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }
    .wp_2 {
        width: 215px !important;
        margin-top: 9px;
    }
    .pg_font2 {
        display: none;
    }
    .box_h {
        margin-top: 14px;
    }
    .stock_items {
        width: 100%;
        text-align: left !important;
        font-size: 17px;
        font-weight: bold;
        letter-spacing: 1px;
    }
    .title_resp {
        /*margin-left: 83px;
        width: 300px;
        margin-top: -33px;
        letter-spacing: 1px;*/
        right: 0;
        margin-top: -36px;
        letter-spacing: 1px;
        position: fixed;
    }
    .urlist{
        margin-top: -56px;
    }
   /*   .urlist_bg{
        box-shadow: none;
        border: none;
    }*/
    /*userlist*/
    /*forms_pages resp*/
    .mt_resp {
        margin-top: 22px !important;
    }
    .bil_cst {
        width: 48% !important;
        margin: 0px;
    }
    .sele_box {
        width: 119px;
        height: 30px;
        padding: 0px;
        font-size: 13px;
        margin-top: 7px;
    }
    .gr_no{
      /*  display: contents !important;*/
        margin: auto;
      /*  width: 50%;*/
    }
    .gird_he2{
        display: contents;
    }
    /*forms*/
     /*profile*/
    .pf_resp {
        display: contents !important;
    }
    .top_pf {
        margin: auto;
       /* width: 43%;*/
    }
    .top_pf2 {
        width: 59%;
        margin: auto;
        margin-top: 88px;
    }
    .top_pf3 {
        width: 59%;
        margin: auto;
        margin-top: 107px;
    }
    .top_h {
        height: 101px;
    }
    .imr_resp {
        margin-top: -21px;
        border: 1px solid #ddd;
        margin-right: 10px;
    }
    .top_mr {
        margin: auto;
    }
    .prf_dispno{
        display: none;
    }
    .grid-container7 > div {
      background-color: #f000;
    }
      .top_mr_auto{
        margin: auto;
        margin-top: -55px;
    }
    .top_mr_auto2{
        margin: auto;
       /* margin-top: -78px;*/
    }
    .top_mr_auto3{
        margin: auto;
        margin-top: -98px;
    }

}
@media only screen and (max-width: 991.98px) {
    .bt_wd{
        width: 176px;
    }
    .bg_no{
       background-color: inherit;
       border: none;
       box-shadow: none;
    }
    .bg_on{
       background-color: #fff;
    }
    .pro_dsp{
        /*background-color: seagreen;*/
        margin: 24px;
    }
    .stock_bx{
        border: 1px solid #980c0c;
        margin-bottom: 23px;
        border-radius: 5px;
        margin-right: 169px;
    }
    .log_form{
        width: 37%;
    }
    /*index*/
    .in_mt {
        top: 48px;
        /*width: 540px;*/
    }
    .dash_fonts2 {
    font-size: 13px;
    color: #cbb;
    padding-bottom: 12px;
    }
    .grid3{
        display: contents;
    }
    .in-t-22 {
    margin-top: 0px !important;
    }
    /*index*/
    /*alter*/
    .alt_disp {
        display: contents;
    }
    .m-t-22 {
    margin-top: 0px;
    }
    .box_style4{
        width: 405px;
    }
    /*alter*/
    /*stock*/
      /*userlist_pages resp*/
    .gird6_ul {
        display: table;
        background-color: #ffffff !important;
        width: 100% !important;
        padding: 19px;
        border: 1px solid #cccccc;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }
    .wp_2 {
        width: 215px !important;
        margin-top: 9px;
    }
    .pg_font2 {
        display: none;
    }
    .box_h {
        margin-top: 14px;
    }
    .stock_items {
        width: 100%;
        text-align: left !important;
        font-size: 17px;
        font-weight: bold;
        letter-spacing: 1px;
    }
    .title_resp {
       /* margin-left: 83px;
        width: 300px;
        margin-top: -33px;
        letter-spacing: 1px;*/
         right: 0;
        margin-top: -36px;
        letter-spacing: 1px;
        position: fixed;
    }
    .urlist{
        margin-top: -56px;
    }
    .urlist_grd{
        display: contents !important;
    }
      .urlist_bg{
        box-shadow: none;
        border: none;
    }
    /*userlist*/
    /*card resp*/
    .card_resp {
        display: contents !important;
    }
    .view_img_resp {
        padding: 0px;
    }
    .img_width {
        width: 290px;
    }
    .card_wt {
        width: 100% !important;
    }
    /*card*/
    /*profile*/
    .prf_dispno{
        display: none;
    }
    .pro_ml{
        /*margin-left: -44px;*/
    }
    .pro_p2{
        margin-top: -49px;
        width: 147%;
    }
    .pro_he{
       /* margin-top: -119px;*/
    }
    .pro_he2{
        margin-top: -59px;
    }
    .pro_box{
        height: 26px;
        display: contents !important;
    }
   .pro_img2 {
     height: 299px;
    }
    .vis_tp{
        margin-top: -2px;
    }
    
    /*profile*/
    /*stock*/
    .dash_fonts {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 12px;
}
.dash_fonts2 {
  font-size: 10px;
  color: #cbb;
  padding-bottom: 12px;
}
.st_pd{
    padding: 0px;
}

}
@media only screen and (max-width: 1199.98px) {
    .mail_resp {
        display: none;
    }
    .in_mt{
        top: 55px;
    }
      /*userlist_pages resp*/
    .gird6_ul {
        display: table;
        background-color: #ffffff !important;
        width: 100% !important;
        padding: 19px;
        border: 1px solid #cccccc;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }
    .wp_2 {
        width: 215px !important;
        margin-top: 9px;
    }
    .pg_font2 {
        display: none;
    }
    .box_h {
        margin-top: 14px;
    }
    .stock_items {
        width: 100%;
        text-align: left !important;
        font-size: 17px;
        font-weight: bold;
        letter-spacing: 1px;
    }
    .title_resp {
         right: 0;
        margin-top: -36px;
        letter-spacing: 1px;
        position: fixed;
    }
    .urlist{
        margin-top: -56px;
    }
    .urlist_grd{
        display: contents !important;
    }
   /* .urlist_bg{
        box-shadow: none;
        border: none;
    }*/
    /*userlist*/
    .ser_no{
        display: none;
    }
 }
@media only screen and (min-width: 800px) and (max-width: 4256px) {
    .mail_resp {
        display: none;
    }
}
/*latest*/